<ion-header [translucent]="true" class="keka-navbar">
  <ion-toolbar class="navbar-toolbar">
    <ion-grid [fixed]="true">
      <ion-row class="ion-align-items-center ion-justify-content-between">

        <!-- Left: Company Name -->
        <ion-col size="7" class="row-left">
          <div class="navbar-left">
            <img src="./../assets/techlogo.png" alt="Tech Tammina" />
          </div>
          <div class="navbar-center">
            <ion-searchbar placeholder="Search employee by name" [(ngModel)]="searchQuery" (ionInput)="onSearch()"
              showCancelButton="never">
            </ion-searchbar>
          </div>
        </ion-col>

        
        <!-- Right: Notifications + Candidate Info -->
        <ion-col size="3" class="ion-text-end">
          <div class="navbar-right" style="display:flex; align-items:center; gap:10px;" *ngIf="currentCandidate">

            <ion-icon name="notifications-outline" class="nav-icon"></ion-icon>

            <ion-label class="candidate-name">
              {{ currentCandidate.personalDetails.FirstName }}
              {{ currentCandidate.personalDetails.LastName }}
            </ion-label>

            <ion-button fill="clear" (click)="logout()">Logout</ion-button>

          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>