<ion-grid class="create-offer-header">
  <ion-row style="align-items: center;">
    <ion-col size="2">
      <ion-toolbar>
        <ion-title>Create offer</ion-title>
      </ion-toolbar>
    </ion-col>
    <ion-col size="8">
      <ion-button fill="clear" (click)="navigate('salaryStaructure')" [class.active-btn]="activeTab === 'setup'">JOB
        DETAILS</ion-button>
      <ion-button fill="clear" (click)="navigate('salaryStaructure')"
        [class.active-btn]="activeTab === 'setup'">COMPENSATION</ion-button>


      <ion-button fill="clear" (click)="navigate('salaryStaructure')" [class.active-btn]="activeTab === 'setup'">OFFER
        DETAILS</ion-button>

      <ion-button fill="clear" (click)="navigate('salaryStaructure')" [class.active-btn]="activeTab === 'setup'">PREVIEW
        & SEND</ion-button>
    </ion-col>


    <ion-col size="2">
      <div class="button-container">
        <ion-button expand="block" (click)="onContinue()" color="primary">Continue</ion-button>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>