<ion-header [translucent]="true">
  <app-header></app-header>
  <app-employee-header></app-employee-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <div class="dashboard">

      <!-- Attendance Stats -->
      <div class="card-pannel attendance-stats">
        <div class="header">Attendance Stats</div>
        <div class="entry">
          <div><span class="icon">👤</span> {{ employeeName }}</div>
          <div>
            Status: <strong>{{ status }}</strong><br>
            Gross Hours: {{ grossHours }}<br>
            Effective Hours: {{ effectiveHours }}
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="card-pannel actions">
        <div class="actions-card">
          <div>
            <h5 class="clock">{{ currentTime }}</h5>
            <div class="info">{{ currentDate }}</div>
          </div>

          <div>
            <button class="btn-clockin" (click)="clockIn()" [disabled]="record?.isClockedIn">
              Clock In
            </button>

            <button class="btn-clockout" (click)="clockOut()" [disabled]="!record?.isClockedIn">
              Clock Out
            </button>

            <div class="info m-5 ion-text-center ion-margin-top">
              Since Last Login: {{ timeSinceLastLogin }}
            </div>

            <div class="info">
              Attendance History:
              <ion-list>
                <ion-item *ngFor="let event of history">
                  {{ event.type === 'CLOCK_IN' ? 'Clock In' : 'Clock Out' }} at {{ event.displayTime }}
                </ion-item>
              </ion-list>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ion-grid>
</ion-content>