<ion-header [translucent]="true">
    <!-- <app-header></app-header> -->
  </ion-header>
  <ion-content [fullscreen]="true">
  
    <ion-grid class="ion-margin ion-margin-horizontal">
      <ion-row>
        <ion-col size="6" class="welcome-block ion-no-padding row-space-between">
          <div class="row-left">
            <p>Welcome {{currentCandidate.personalDetails.FirstName}}</p>
          </div>
          <img  class="bg2"  src="../../assets/bg-welcome1.svg" />
        </ion-col>
      </ion-row>
      <ion-row class="main-block">
        
      </ion-row>
  
    </ion-grid>
  </ion-content>