<ion-header [translucent]="true">
   <app-header></app-header>
</ion-header>
<ion-content [fullscreen]="true">

<ion-grid class="ion-margin ion-margin-horizontal">
  <ion-row>
    <ion-col class="col-4">
      <div>
    <h6 class="card-title">Quick Access</h6>
        <ion-card class="quick-access-card">
  <ion-card-content>
    <p class="card-main-header">Overview</p>
    <div class="on-leave-section quick-access-card">
      <p class="section-title">On Leave Today</p>
      <ion-item lines="none" class="on-leave-user">
        <ion-avatar slot="start">
          <img src="https://randomuser.me/api/portraits/men/32.jpg" width="75px" height="75px" alt="User Avatar">
        </ion-avatar>
        <ion-label>
          Vamsi...
        </ion-label>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>
      </div>
    </ion-col>
    <ion-col class="col-8"></ion-col>
  </ion-row>
</ion-grid>
</ion-content>


