<ion-header [translucent]="true">
   <app-header></app-header>
</ion-header>
<ion-content [fullscreen]="true">

<ion-grid class="ion-margin ion-margin-horizontal">
  <ion-row>
    <ion-col size="12" class="welcome-block ion-no-padding row-space-between">
     <div class="row-left"><img src="../../assets/bg-welcome.svg" /><p>Welcome Gopi  Neeraj Kumar</p></div> 
     <img src="../../assets/bg-welcome1.svg" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
    <ion-card> 
        <ion-card-content>
    <p class="card-main-header ion-padding-bottom">Overview</p>
    
    <div class="quick-access-card">
        <ion-item-divider>
        <div class="avatar-section">            
            <p class="section-title">On Leave Today</p>
            <ion-row class="row-space-between">
            <ion-col lines="none" size="8" class="d-flex">
                
                <div class="pr-5 label-block">                 
                        <img alt="Silhouette of a person's head" src="https://randomuser.me/api/portraits/men/32.jpg" />
                    
                    <ion-label>vamsi kumar</ion-label>
                </div>

                <div class="pr-5 label-block">                 
                    <img alt="Silhouette of a person's head" src="https://randomuser.me/api/portraits/men/32.jpg" />
                
                <ion-label>vamsi kumar</ion-label>
            </div>
           
            </ion-col>  
            <ion-col lines="none"  size="4" class="on-leave-user">                
                <ion-img
                    src="../../assets/onleave-img.svg"
                    alt="On Leave"
                  ></ion-img>
              </ion-col>
          </ion-row>         
          </div>
        </ion-item-divider>
          <div class="avatar-section ion-padding">
              <p class="section-title">Work From Home</p>
              <ion-row  class="row-space-between">
                  <ion-col lines="none"  size="8" class="d-flex">
                
                      <div class="pr-5 label-block">                 
                              <img alt="Silhouette of a person's head" src="https://randomuser.me/api/portraits/men/32.jpg" />
                          
                          <ion-label>vamsi kumar</ion-label>
                      </div>
      
                      <div class="pr-5 label-block">                 
                          <img alt="Silhouette of a person's head" src="https://randomuser.me/api/portraits/men/32.jpg" />
                      
                      <ion-label>vamsi kumar</ion-label>
                  </div>
                 
                  </ion-col>  
              <ion-col lines="none"  size="4" class="on-leave-user">
                 
                  <ion-img
                  src="../../assets/WFH-img.svg"
                  alt="WFH" width="110"
                ></ion-img>
                 
                </ion-col>
              </ion-row>
            </div>
          </div>
<!-- Holiday Section -->
<div class="holidays-section" [style.backgroundImage]="'url(' + backgroundImageUrl + ')'">
    
      <div class="row-space-between mb-30"><p class="section-title">Upcoming Holidays</p>
           <a href="">View All</a></div>
        
      <h2 class="card-main-header mb-30">Christmas</h2>
      <p>Thu, 25 December, 2025</p>

</div>
<!-- Attendance side block -->
<div class="quick-access-card week-card ">    
    <p class="section-title pb-8">Attendance</p>
    <div class="row-left"><h2 class="page-title">95%</h2><p class="pl-5 text-color">+2% vs Last Month</p> </div>
    
      <div class="p-8">
          <ion-list lines="none" class="row-left">
            <ion-item *ngFor="let day of days">
              <ion-label>               
                <div [ngClass]="day.status === 'Complete' ? 'complete' : 'remaining'">
                 <p class="progress"></p>
                 <p class="text-ellipsis">{{ day.date }}</p> 
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
</div>

<!-- Leave balance side block -->
<div class="quick-access-card balance-card ">    
  
  <div class="row-space-between"><p class="section-title">Leave balance</p><a href="" class="pl-5 text-color">Request Leave</a> </div>
  
    <div class="p-8">
        <ion-row lines="none" class="row-left">
          <ion-col size="3">
               <p class="card-main-header">19</p>
               <p class="text">Total</p> 
               <p class="card-title">24 Leaves</p> 
          </ion-col>
          <ion-col size="3">
            <p class="card-main-header">19</p>
            <p class="text">Total</p> 
            <p class="card-title">24 Leaves</p> 
       </ion-col>
       <ion-col size="3">
        <p class="card-main-header">19</p>
        <p class="text">Total</p> 
        <p class="card-title">24 Leaves</p> 
   </ion-col>
        </ion-row>
      </div>
</div>
</ion-card-content>
</ion-card>
</ion-col>
<!-- Right side block -->
    <ion-col size="8">
          <ion-card class="time-actions ion-padding">
          <div class="card-pannel">
          <div class="actions-card row-space-between">
            <div>
              <p class="clock mb-30">Time Today </p>
              <p class="info">CURRENT TIME</p>
              <p class="time">14:25</p>
            </div>
  
            <div class="row-right">
                <ion-button class="btn-clockin">
                Clock In
                </ion-button>
            
              <ion-button class="btn-clockout">
                Clock Out
              </ion-button>

              <ion-button id="popover-button">Others</ion-button>
                <ion-popover trigger="popover-button" [dismissOnSelect]="true">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item [button]="true" [detail]="false">Option 1</ion-item>
                        <ion-item [button]="true" [detail]="false">Option 2</ion-item>                      
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
  
  
            </div>
          </div>
        </div>
      </ion-card>
      <!-- reporting section -->
       <ion-card class="reporting-block ion-padding">
            <ion-row>
                  <ion-col size="6" class="left-block">
                    <p class="card-main-header mb-30">Reporting manager </p>
                    <div class="row-left">                 
                        <img alt="Silhouette of a person's head" src="../../assets/user.svg" width="46"/>
                    
                    <ion-label class="pl-5 ">
                      <p class="name pb-8">Viswanatha Sastry Kvsj</p>
                      <p class="designation">Vice President Delivery Technology </p>
                    </ion-label>
                </div>
                  </ion-col>
                  <ion-col size="6"  class="right-block">
                      <p class="card-main-header mb-30">Client Overview </p>
                      <div>
                      <img alt="Silhouette of a person's head" src="../../assets/user.svg" width="46"/>
                      <p class="name">Client</p>
                    </div>
                    </ion-col>
                    </ion-row>  
             </ion-card>
<!-- Performance section -->
             <ion-card class="week-card ion-padding">
                <ion-row>
                      <ion-col size="5" class="left-block">
                          <p class="card-main-header pb-8">Performance</p>
                          <div class="row-left"><h2 class="page-title">88%</h2><p class="pl-5 text-color">+3% vs Last Quarter</p> </div>
                        </ion-col>
                        <ion-col size="7" class="left-block">
                            <img src="../../assets/chart-graphic.svg">
                          </ion-col>
                </ion-row>
    
                 </ion-card>

                 <!-- Performance section -->
             <ion-card class="announce-card ion-padding">
                <p class="card-main-header pb-8">Announcements</p>
                
                            <img  src="../../assets/undraw_letter_ombg 1.svg">
                          
                 </ion-card>


    </ion-col>
  </ion-row>
  <!-- Tabs section -->
  
                
  <ion-card class="tabs-block ion-padding">
  <ion-row class="">
    <ion-col size="12">         
                      <ion-tabs>
                          <ion-tab-bar slot="top">
                              <ion-tab-button tab="birthday">
                                <ion-icon name="play-circle"></ion-icon>
                               0 Birthday
                              </ion-tab-button>
                              <ion-tab-button tab="Work">
                                <ion-icon name="Work"></ion-icon>
                               0 Work Anniversaries
                              </ion-tab-button>
                              <ion-tab-button tab="new-joiners">
                                <ion-icon name="new-joiners"></ion-icon>
                               0 New Joiners
                              </ion-tab-button>
                              <ion-tab-button tab="praise">
                                <ion-icon name="praise"></ion-icon>
                                0 Praise
                              </ion-tab-button>
                            </ion-tab-bar>

                          <ion-tab tab="birthday">
                            <div id="birthday-page">
                              <ion-header>
                                <ion-toolbar>
                                  <ion-title>birthday</ion-title>
                                </ion-toolbar>
                              </ion-header>
                              <ion-content>
                                
                               



                              </ion-content>
                            </div>
                          </ion-tab>
                          <ion-tab tab="Work">
                            <div id="Work-page">
                              <ion-header>
                                <ion-toolbar>
                                  <ion-title>Work Anniversaries</ion-title>
                                </ion-toolbar>
                              </ion-header>
                              <ion-content>
                                <div class="example-content">Work Anniversariest</div>
                              </ion-content>
                            </div>
                          </ion-tab>
                          <ion-tab tab="new-joiners">
                            <div id="new-joiners-page">
                              <ion-header>
                                <ion-toolbar>
                                  <ion-title>new-joiners</ion-title>
                                </ion-toolbar>
                              </ion-header>
                              <ion-content>
                                <div class="example-content">new-joinersy content</div>
                              </ion-content>
                            </div>
                          </ion-tab>
                          <ion-tab tab="praise">
                            <div id="praise-page">
                              <ion-header>
                                <ion-toolbar>
                                  <ion-title>praise</ion-title>
                                </ion-toolbar>
                              </ion-header>
                              <ion-content>
                                <div class="example-content">praise content</div>
                              </ion-content>
                            </div>
                          </ion-tab>
                        
                          
                        </ion-tabs>
              </ion-col>
  </ion-row>
</ion-card>
</ion-grid>
</ion-content>


